numpy>=1.16.4
scipy
scikit-image
matplotlib
future
astropy
tensorflow>=2.3.0  # only for SSIM computation

# for lenstronomy
sklearn
numba>=0.43.1
mpmath
schwimmbad
cosmohammer>=0.6.1
emcee>=3.0.0
dynesty
pymultinest
nestcheck
multiprocess>=0.70.8
#lenstronomy>=1.6.0

# for PySAP
pybind11
pyqtgraph>=0.10.0
progressbar2>=3.34.3
nibabel
modopt
python-pysap==0.0.5
