numpy>=1.16.4
scipy
matplotlib
future
astropy
nibabel
pyqtgraph
progressbar2
modopt
pybind11
python-pysap
mpmath
schwimmbad
multiprocess>=0.70.8
-e git://github.com/aymgal/lenstronomy@dev_slit-algo#egg=lenstronomy
