numpy>=1.16.4
scipy
scikit-image
matplotlib
future
astropy
tensorflow

# for lenstronomy
sklearn
numba>=0.43.1
mpmath
schwimmbad
cosmohammer>=0.6.1
emcee>=3.0.0
dynesty
pymultinest
#pypolychord
nestcheck
multiprocess>=0.70.8

# for PySAP
pybind11
pyqtgraph>=0.10.0
progressbar2>=3.34.3
nibabel
modopt
