numpy>=1.16.4
scipy
matplotlib
future
astropy

# for lenstronomy
sklearn
numba>=0.43.1
mpmath
schwimmbad
cosmohammer>=0.6.1
emcee>=3.0.0
dynesty
pymultinest
#pypolychord
nestcheck
multiprocess>=0.70.8

# for PySAP
PyQt5==5.14.0
pybind11
pyqtgraph>=0.10.0
progressbar2>=3.34.3
nibabel
modopt
